/*css reset*/
* {
    margin: 0;
    padding: 0;
}

body, html {
    font: 12px/1.5 tahoma, arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear:after {
    content: '';
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}

h1 {
    padding: 5px;
}

label {
    margin: 5px 0 0 5px;
}

/*外围框*/
.content {
    width: 1366px;
    border: 1px solid;
    margin: 10px auto;
}

/*左右框*/
.ctrl {
    border: 1px solid;
    margin: 5px;
    width: 310px;
}

/*中间框*/
.painter {
    border: 1px solid;
    margin: 5px 0;
    width: 720px;
}

.ctrl, .painter {
    height: 800px;
}

/*画布*/
#containment-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("../images/bg-img.png");
    position: relative;
}

/*控件属性的样式*/
.attribute {
    font-size: 16px;
}

.attribute p {
    margin: 10px 5px;
}

.attribute input {
    width: 100px;
    height: 20px;
}

.labelText {
    display: inline-block;
    border: none;
}

/*表单设计器标题行*/
.headerForm {
    width: 100%;
    height: 30px;
}

.headerForm h1 {
    display: inline-block;
    padding: 0;
    margin-left: 621px;
}

.headerForm button {
    float: right;
    margin: 6px 30px 0 0;
    padding: 2px 10px;
    background: #fff;
    border-radius: 8px;
}

/*基本控件样式*/
ul.baseCtrl {
    border-top: 1px solid #CCC;
    list-style-type: none;
}

.baseCtrl li {
    text-align: center;
    float: left;
    width: 102px;
    height: 75px;
    border-bottom: 1px solid #CCC;
    background-position: 31px 8px;
}

.baseCtrl span {
    display: inline-block;
    margin-top: 50px;
}

/*每个控件设置背景*/
.baseInp {
    background: url("../images/input.png") no-repeat;
}

.baseArea {
    background: url("../images/textarea.png") no-repeat;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.baseNum {
    background: url("../images/number.png") no-repeat;
}

.baseDate {
    background: url("../images/date.png") no-repeat;
}

.baseTit {
    background: url("../images/label.png") no-repeat;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.baseBtn {

}

/*控件样式*/
.areaDiv {
    width: 200px;
    height: 100px;
    float: left;
}

.titleCtrl {
    width: 100px;
    height: 100px;
    background: #FFF;
    text-align: center;
}

.btnControl {
    border-radius: 50px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #eee;
    line-height: 25px;
}

/*手机设计器样式*/
/*手机画布背景*/
.mobileForm {
    background: url(../images/mobile.png) 339px 25px no-repeat;
    height: 100%;
    width: 100%;
}

/*手机画布内层Div*/
.mobCanvas {
    /*border: 1px solid red;*/
    width: 300px;
    height: 517px;
    position: relative;
    top: 132px;
    left: 368px;
    overflow: scroll;
}

/*手机画布外围*/
.mobPainter {
    border: 1px solid;
    margin: 5px 0;
    width: 1037px;
    height: 800px;
}

/*手机重绘控件*/
.baseRevertCtrl {
    list-style: none;
    border: 1px solid #f4f4f4;

}

.baseRevertCtrl li {
    width: 100px;
    height: 80px;
    background-position: 31px 20px;
    float: left;
    text-align: center;
    border: 1px solid #f4f4f4;
}

.baseRevertCtrl span {
    display: block;
}

/*控件重绘是背景设置*/
.reverttext {
    background: url("../images/input.png") no-repeat;
}

.reverttextarea {
    background: url("../images/textarea.png") no-repeat;
}

.revertnumber {
    background: url("../images/number.png") no-repeat;
}

.revertdate {
    background: url("../images/date.png") no-repeat;
}

.revertlabel {
    background: url("../images/label.png") no-repeat;
}

.revertbutton {
}

.mobileNameCtrl {
    margin-top: 0px;
}

.mobileTitleCtrl {
    margin-top: 43px;
}

/*手里边的控件样式*/
.mobileCtrlDiv {
    height: 44px;
    width: 100%;
    background: #fff;
    margin-bottom: 12px;

}

/*控件标题样式*/
.controlTitle {
    padding: 3px 10px;
    font-size: 14px;
    font-family: '微软雅黑';
    width: 71px;
    float: left;
}

/*控件内容样式*/
.mobDivtextarea {
    float: left;
    width: 186px;
    height: 44px;
    background: url(../images/bg-input.png) -1px 12px no-repeat;
}

.mobDivtext {
    float: left;
    width: 186px;
    height: 44px;
    background: url(../images/bg-input.png) -1px 12px no-repeat;
}

.mobDivdate {
    float: left;
    width: 186px;
    height: 44px;
    background: url(../images/bg-select.png) -1px 12px no-repeat;
}

.mobDivnumber {
    float: left;
    width: 186px;
    height: 44px;
    background: url(../images/bg-number.png) -1px 12px no-repeat;
}

/*标签控件样式*/
.mobDivlabel {
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    font-family: '微软雅黑';
}