
.dragDiv {
    left: 0px;
    top: 1px;
    position: absolute;
}

.sel {
    border: 1px solid #003eff;
    overflow: hidden;
}

.controlLabel {
    text-align: center;
    width: 100px;
    line-height: 30px;
    float: left;
}

.controlDiv {
    float: left;
    width: 123px;
    height: 26px;
}

.textControl {
    width: 100%;
    height: 100%;
}